* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  /* padding: 30px;
  background-color: #222; */
}

.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 68, 255, 0.041)), 
    url(./jungle.png);
  background-size: cover;
  background-position: top;
  position: relative;
}

.title {
  text-decoration: none;
  padding:5px 12px;
  margin: 10px 10px;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.5);
  float: right;
}

.lineUpButton:link,
.lineUpButton:visited,
.addDancerButton:link, 
.addDancerButton:visited{
  text-decoration: none;
  padding:5px 12px;
  margin: 10px 10px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  float: right;
} 

.lineUpButton:hover,
.addDancerButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.topbar{
}

.dancer{
  position: absolute;
  height: 80px;
  width: 80px;
}

.bouncyDancer, .blinkyDancer{
  top: -10%;
  left: -50%;
}

img{
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  display: block;
}

img:hover{
  cursor: pointer;
}

.dancerfix{
  /* position: absolute; */
  background: #fff;
  position: absolute;
  height: 65px;
  width: 40px;
  margin: 0 10px;
  border-radius: 50%;
}

.dancer p{
  color: white;
  font-size: 20px;
  position: absolute;
  top: -100%;
}